{{ define "curtidas" }}
  <i class="fas fa-heart like-publication" style="cursor: pointer;" data-id="{{ .ID }}"></i>
  <span> {{ .Likes.Int32 }} </span>
  {{ end }}
  
  {{ define "editar" }}
  <a href="/publications/{{ .ID }}/update-publication" style="text-decoration: none; cursor: pointer;"><i class="fas fa-edit"></i></a>
  {{ end }}
  
  {{ define "deletar" }}
  <i class="fas fa-trash text-danger delete-publication" style="cursor: pointer;"></i>
{{ end }}


{{ define "cabecalho-publicacao" }}
  <h1 class="display-4">{{ .Title}}</h1>
  <p class="lead">{{ .Content }}</p>
  <a href="/users/{{ .AuthorID }}">{{ .Nick }} - {{ .CreatedAt.Time.Format "2/1/2006" }}</a>
  <hr class="my-4">
{{ end }}

{{ define "publicacao-com-permissao" }}
  <div class="bg-light p-5 rounded-lg m-3" data-id-publication="{{ .ID }}">
    {{ template "cabecalho-publicacao" . }}
    <p>
      {{ template "curtidas" . }}
      {{ template "editar" . }}
      {{ template "deletar" . }}
    </p>
  </div>
  {{ end }}
  
  {{ define "publicacao-sem-permissao" }}
  <div class="bg-light p-5 rounded-lg m-3" data-id-publication="{{ .ID }}">
    {{ template "cabecalho-publicacao" . }}
    <p>
      {{ template "curtidas" . }}
    </p>
  </div>
{{ end }}