:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container-login {
  width: 390px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    width: 100%;
  }
}

h2 {
  font-size: 2.4rem;
  text-align: center;
}

.devbook-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-fields {
  background-color: #e6e6e6;
  border-radius: 3px;
  
  > input {
    width: 100%;
    outline: none;
    border: none;
    color: #3b5998;
    font-size: 1.8rem;
    display: block;
    background: transparent;
    height: 62px;
    padding: 0 20px 0 38px;
    border-radius: 3px;



    &::placeholder{
      color: #8f8fa1;
    }
  }
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  > button {
    font-size: 1.6rem;
    cursor: pointer;
    color: #fff;
    line-height: 1.2;
    padding: 0 20px;
    width: 100%;
    height: 62px;
    background-color: #3b5998;
    outline: none;
    border: none;

    transition: 0s background-color color;

    &:hover {
      cursor: pointer;
      background-color: rgb(255, 217, 0);
      color: black;

      transition-delay: 100ms;
    }
  }

  > a {
    font-size: 1.5rem;
    text-decoration: none;
  }

  > button {
    width: 100%;
  }
}