<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
  <title>Devbook</title>
</head>
<body>
  <div class="container-login">
    <h2>Seja Bem-vindo ao Devbook!</h2>
    <form action="" class="devbook-form" id="login">
      <div class="input-fields">
        <input type="text" name="email" id="email" placeholder="Informe o Email ou Apelido" required>
      </div>
      <div class="input-fields">
        <input type="password" name="password" id="password" placeholder="Informe a Senha" required>
      </div>
      <div class="btns">
        <button type="submit">Login</button>
        <a href="/create-user">Criar Conta</a>
      </div>
    </form>
  </div>
</body>
</html>