<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
  <script src="/assets/js/jquery.min.js" defer></script>
  <script src="/assets/js/register.js" defer></script>
  <title>Devbook</title>
</head>
<body>
  <div class="container-login">
    <h2>Seja Bem-vindo ao Devbook!</h2>
    <form action="post" class="devbook-form" id="register-user">
      <div class="input-fields">
        <input type="text" name="name" id="name" placeholder="Informe o Nome" required>
      </div>
      <div class="input-fields">
        <input type="text" name="email" id="email" placeholder="Informe o Email" required>
      </div>
      <div class="input-fields">
        <input type="text" name="nick" id="nick" placeholder="Informe o Apelido" required>
      </div>
      <div class="input-fields">
        <input type="password" name="password" id="password" placeholder="Informe a Senha" required>
      </div>
      <div class="input-fields">
        <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirme a Senha" required>
      </div>
      <div class="btns">
        <button type="submit">Criar conta</button>
        <a href="/login">Voltar para login</a>
      </div>
    </form>
  </div>
</body>
</html>